<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="mycoup" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <!-- hibernate.show_sql 속성과 거의 같은 로그를 남긴다. 둘 다 켜져있으면 중복 로그 남음 -->
    <!-- 하이버네이트 SQL을 로그로 출력할 수 있다. -->
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <!-- 하이버네이트 SQL에 바인딩된 파리미터와 결과 정보를 로그로 남긴다.,  -->
    <logger name="org.hibernate.type" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
 	
</configuration>
